#legal-header {
  h2 {
    margin: 0 0 30px 0;
    padding: 0;
  }

  h3 {
    font-size: $small-font;
    padding: 5px 0 10px;
  }
}

#legal-footer {
  display: flex;
  justify-content: flex-end;
  height: 96px;
  padding: 0 32px;
  align-items: center;

  a {
    padding: 0 16px;

    &:last-child {
      padding: 0 0 0 16px;
    }
  }
}

#legal-copy {
  line-height: 24px;
  text-align: left;

  @include respond-to('trustedUI') {
    margin-bottom: 10px;

    h2 {
      font-size: $base-font;
    }
  }

  p {
    font-size: $base-font;
  }

  ol,
  ul {
    margin-left: 0;
    padding-left: 20px;
  }


}
